* {
	margin: 0;
	padding: 0;
}
body{
	width: 100vw;
	height: 100vh;
	/* background-color: black; */
	background-position: cover;
}
.tela_graficos {
	display: flex;
	width: 100%;
	height: 600px;
}

.grafico {
	display: flex;
	flex-direction: column;
	width: 800%;
	height: 400px;
}

#dht11Umidade {
	width: 45%;
}

#dht11Temperatura {
	width: 45%;
}


canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}